<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}">
	<script src="https://kit.fontawesome.com/b2f1be5c78.js" crossorigin="anonymous"></script>

	{% block head %} {% endblock %}
</head>
<body>



	{% block body %} {% endblock %}
	<script src="{{ url_for('static',filename='script/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static',filename='script/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static',filename='script/popper.min.js') }}"></script>
	<script src="{{ url_for('static',filename='script/main.js') }}"></script>

</body>
</html>